extends ../layouts/application.pug

block header
  = t('views.tasks.edit.title')

block content
  .container
    .row.justify-content-center
      .col-md-6
        .card.shadow-sm.bg-white.bg-opacity-85
          .card-body.text-dark
            +formFor()(action=route('updateTask', {id: task.id}) method='post')
              input(name="_method" type="hidden" value="patch")
              +inputPlain(task, 'name', errors)(type ="text", placeholder=t('views.tasks.name'))
              +input(task, 'description', errors)(type = 'text')
              +select(task, 'statusId', statuses, errors)
              +select(task, 'executorId', users, errors)
              +selectMultiple(task, 'labels', labels, errors)(class="form-select")
              +submit(task)(value=t('views.tasks.edit.submit'))
              